body {
  
  background-color: white;
  background-image: linear-gradient(#1E90FF, white);
  font-family: "Arial", Helvetica, sans-serif;

}


img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}


h1 {
	color: black;
	font-size: 36px;
    line-height: 40px;
    text-shadow: 0 2px white, 0 3px #777;
    font-family: "Arial Black",Gadget, sans-serif;


}


h2 {
	color: #1E90FF;
	font-size: 30px;
    line-height: 40px;
}


header {
  background-color: white;
  background-image: linear-gradient(#1E90FF, white);
  font-family: "Arial", Helvetica, sans-serif;

}

.grid-x {
color: #1E90FF
padding: 20px;
}

.small-6large-10cell {
color: #1E90FF
padding: 20px;
}


.small-3large-4cell {
color: #1E90FF;
padding: 20px
}

.main-menu{
	text-align:center;
}

.main-menu li{
	display: inline-block;
	border:1px solid black;
}

.main-menu a{
	color: black;
	display: block;
	padding: 2px 20px 5px 20px;
	text-decoration:none;
}

.main-menu a:hover{
	color:black;
	background-color:white;
}

.main-menu li a.current{
	color:black;
	background-color:green;
}
