.menu ul {
	display:inline;
	text-align: center;
	margin:0;
	padding:0;
	list-style-type: none;
	position:absolute;
	border-collapse:collapse;
	text-align:center;
}

.menu li{
	display: table-cell;
	border:1px solid black;
}

.menu a{
	float: center;
	color: black;
	display: block;
	padding: 2px 20px 5px 20px;
	text-decoration:none;
}

.menu a:hover{
	color:white;
	background-color:#84bcff;
}

.menu a.current{
	color:white;
	background-color:#84bcff;
}
