body {
	font-family: 'Dosis', sans-serif;
	background-color: #A9A9A9;
	font-size:110%;
	padding:15px 25px 15px 25px;
	border:4px solid #84bcff;
	border-spacing: 10px 10px;
	border-bottom-style:none;
}

header {
	text-align: center;
}

.footer p{
	font-size: 75%;
	text-align:right;
	margin: 2px;
}